<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gameassist.plugin.ami"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="21" />

     <application
         android:allowBackup="false"
         android:icon="@drawable/ic_launcher"
        android:label="@string/pluginame" >
        <meta-data android:name="Entry" android:value="com.gameassist.plugin.ami.PluginEntry" />
        <meta-data android:name="Target0" android:value="com.ami.BattleCity" />
        <meta-data android:name="Version0" android:value="*" /><!--1-->
        <meta-data android:name="Label" android:value="上帝模式" />
        <meta-data android:name="Description" android:value="增加生命 x500" />
    </application>

</manifest>