<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gameassist.plugin.HeroTactics2"
    android:versionCode="3"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="21" />

     <application
         android:allowBackup="false"
         android:icon="@android:drawable/sym_def_app_icon"
        android:label="@string/pluginame" >
        <meta-data android:name="Entry" android:value="com.gameassist.plugin.HeroTactics2.PluginEntry" />
        <meta-data android:name="Target0" android:value="manastone.game.HeroTactics2.AM"/>
        <meta-data android:name="Version0" android:value="*" /><!--20150625-->
        <meta-data android:name="Label" android:value="土豪模式" />
        <meta-data android:name="Description" android:value="+钞票，+金币" />
    </application>

</manifest>